<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demo &middot; <%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1><%= title %> <small>jQuery plugin</small></h1>
            </div>
            <div class="well">
                <p class="last"><%= description %></p>
            </div>
            <div class="jumbotron">
                <div id="element">Foo</div>
            </div>
            <div class="well">

<pre class="prettyprint lang-js last">
$('#element').<%= name %>({
    upperCase: true
});
</pre>
            </div>
        </div>

        <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../../src/js/<%= name %>.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

        <link rel="stylesheet" type="text/css" href="http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/github.css"></link>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    </body>
</html>
